@using WhatsInMyBar.Models
@model List<Recipe>
@{
    ViewBag.Title = "Home Page";
}

@foreach (Recipe recipe in Model)
{
    <b>@recipe.Name</b><br />
    @recipe.Description<br />
    <img src="@string.Format("../Content/Images/{0}.jpg", recipe.RecipeID)" style="width: 300px;" /><br />
    <ul>
        @foreach (Ingredient ingredient in recipe.Ingredients)
        {
            <li>
                @ingredient.Name
            </li>
        }
    </ul>
    <br /><br />
}